@model IEnumerable<FitnessGuru_Main.Models.SessionFeedback>
@using FitnessGuru_Main.Models

@{
    ViewBag.Title = "Feedback";
    var session = (Session)ViewBag.session;
}

<h2>Feedbacks for @session.SessionName</h2>
<div style="margin-top: 70px">
    <table id="sessionFeedback" class="table table-responsive table-bordered">
        <thead>
            <tr>
                <th>
                    Feedback
                </th>
                <th>
                    Star Rating
                </th>
                <th>
                    Feedback provided by
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Desc)
                    </td>
                    <td>

                        <div id="@item.GymMemberId" class="ratingTrainer">
                            <input type="radio" id="@item.GymMemberId+star5" name="@item.GymMemberId" value="5" /><label class="full" for="@item.GymMemberId+star5" title="Awesome - 5 stars"></label>
                            <input type="radio" id="@item.GymMemberId+star4" name="@item.GymMemberId" value="4" /><label class="full" for="@item.GymMemberId+star4" title="Pretty good - 4 stars"></label>
                            <input type="radio" id="@item.GymMemberId+star3" name="@item.GymMemberId" value="3" /><label class="full" for="@item.GymMemberId+star3" title="Meh - 3 stars"></label>
                            <input type="radio" id="@item.GymMemberId+star2" name="@item.GymMemberId" value="2" /><label class="full" for="@item.GymMemberId+star2" title="Kinda bad - 2 stars"></label>
                            <input type="radio" id="@item.GymMemberId+star1" name="@item.GymMemberId" value="1" /><label class="full" for="@item.GymMemberId+star1" title="Sucks big time - 1 star"></label>
                        </div>

                        <script>
                                var rating = @item.Rating;
                                var element = "";
                                switch (rating) {
                                case 1:
                                    element = 'star1'
                                    break;
                                case 2:
                                    element = 'star2'
                                    break;
                                case 3:
                                    element = 'star3'
                                    break;
                                case 4:
                                    element = 'star4'
                                    break;
                                case 5:
                                    element = 'star5'
                                    break;
                            }

                            var id = @item.GymMemberId + '+' + element;

                            radioBtn = document.getElementById(id);
                            radioBtn.checked = true;
                        </script>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GymMember.FirstName)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    @Html.ActionLink("Go Back", "History", "Trainers")
</div>


@section scripts
{
    <script>
        $(document).ready(function () {
            $("#sessionFeedback").DataTable({
                "order": [[1, "desc"]]
            }
            );

        });

        $("input[type=radio]").attr('disabled', true);

    </script>
}
