@model IEnumerable<FitnessGuru_Main.Models.Session>

@{
    ViewBag.Title = "History";
}

<h2>Past Sessions</h2>

<div style="margin-top:70px">

    <table id="sessionHistory" class="table table-responsive table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SessionName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SessionAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Desc)
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SessionName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SessionAt)
                    </td>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.Desc)
                    </td>
                    <td>
                        @Html.ActionLink("View Feedbacks", "Feedback", new { id = item.Id }, new { @class = "btn btn-link" })
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>

<div>
    @Html.ActionLink("Go Back", "Index", "Trainers")
</div>


@section scripts
{
    <script>
        $(document).ready(function () {
            $("#sessionHistory").DataTable({
                "order": [[1, "asc"]]
            }
            );
        });
    </script>
}