@model FitnessGuru_Main.Models.TrainerIndexViewModel

@{
    ViewBag.Title = "Trainer Home";
}

<h2>Welcome @ViewBag.Name</h2>

@{
    var isManagingSessionsEmpty = Model.ManagingSessions.Count() == 0;
    var isUpcomingSessionsEmpty = Model.UpcomingSessions.Count() == 0;
}

@if (!isManagingSessionsEmpty)
{
    <div class="row">

        <h3 class="col-xs-6">These are the sessions managed by you</h3>
        <h3 class="col-xs-2">@Html.ActionLink("Create New", "Create", "Sessions", null, new { @class = "btn btn-primary" })</h3>
        @*<h2 class="col-xs-2">@Html.ActionLink("View History", "History", "Trainers", null, new { @class = "btn btn-info" })</h2>*@
    </div>

    <table id="managingSessions" class="table table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ManagingSessions.FirstOrDefault().SessionName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ManagingSessions.FirstOrDefault().SessionAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ManagingSessions.FirstOrDefault().Desc)
                </th>

                <th>
                    Actions
                </th>

            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.ManagingSessions)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SessionName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SessionAt)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Desc)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Sessions", new { id = item.Id }, new { @class = "btn btn-link" }) |
                        @Html.ActionLink("View Joined Members", "ListMembers", "Sessions", new { id = item.Id }, new { @class = "btn btn-link" }) |
                        @Html.ActionLink("Delete", "Delete", "Sessions", new { id = item.Id }, new { @class = "btn btn-link" })
                    </td>
                </tr>
            }
        </tbody>

    </table>
}
else
{
    <div class="row">

        <h3 class="col-sm-6">You are not managing any sessions</h3>
        <h3>@Html.ActionLink("Create New", "Create", "Sessions", null, new { @class = "btn btn-primary" })</h3>
        @*<h2 class="col-xs-2">@Html.ActionLink("View History", "History", "Trainers", null, new { @class = "btn btn-info" })</h2>*@
    </div>
}

@*<p>
        @Html.ActionLink("Back to Home", "Index")
    </p>*@

@section scripts
{
    <script>
        $(document).ready(function () {
            console.log($("#managingSessions"));
            $("#managingSessions").DataTable({
                "order": [[1, "asc"]]
            }
            );
        });
    </script>
}