@model FitnessGuru_Main.Models.GymMember

@using FitnessGuru_Main.Models
@using Microsoft.AspNet.Identity.EntityFramework
@using Microsoft.AspNet.Identity


@{
    ViewBag.Title = "Details";
    ApplicationDbContext userscontext = new ApplicationDbContext();
    var userStore = new UserStore<ApplicationUser>(userscontext);
    var userManager = new UserManager<ApplicationUser>(userStore);

    var IsTrainer = true;
    if (!userManager.IsInRole(Model.UserId, "Trainer"))
    {
        //userManager.AddToRole(user.Id, "Admin");
        IsTrainer = false;
    }

}

<h2>Details</h2>

<div>
    <h4>GymMember</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>

            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressLine1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressLine1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressLine2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressLine2)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.ProfilePicPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfilePicPath)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            Is Trainer
        </dt>

        <dd>
            @if (IsTrainer)
            {
                @:Yes
            }
            else
            {
                @:No
            }
        </dd>

    </dl>
</div>
<p>

    @Html.ActionLink("Back to List", "Index")
    @if (!IsTrainer)
    {
        @:| @Html.ActionLink("Convert to Trainer", "AddAsTrainer", new { UserId = Model.UserId }) 

    }
</p>
