@model IEnumerable<FitnessGuru_Main.Models.GymMember>

@{
    ViewBag.Title = "Admin";
}

<h2>Welcome Admin</h2>

<div style="margin-top: 60px">
    <table id="memberDetailsTbl" class="table table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.Id }, new {@class="btn btn-link"})
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


@section scripts{
    <script>
        $(document).ready(function () {
            $('#memberDetailsTbl').DataTable();
        });
    </script>
}