@model FitnessGuru_Main.Models.SessionFeedbackViewModel
@using FitnessGuru_Main.Models


@{
    ViewBag.Title = "Feedback";
}

<h2>Feedback Form</h2>

<div>
    <h4>Session Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.session.SessionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.session.SessionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.session.SessionAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.session.SessionAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.session.Desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.session.Desc)
        </dd>

        <dt>
            Trainer
        </dt>
        @{
            var name = Model.session.GymMember.FirstName + " " + Model.session.GymMember.LastName;
        }
        <dd>
            @name
        </dd>

    </dl>
</div>


@using (Html.BeginForm("Feedback", "GymMembers", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "feedbackForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @if (Model.feedback != null)
        {
            <h4>Changed your mind?? Don't hesistate, tell us again</h4>
        }
        else
        {
            <h4>@ViewBag.FeedbackStatus</h4>
        }
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.feedback.Desc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.feedback.Desc, new { @class = "form-control", rows = "6", cols = "20" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.feedback.Rating, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="rating">
                    <input type="radio" id="star5" name="feedback.Rating" value="5" /><label class="full" for="star5" title="Awesome - 5 stars"></label>
                    <input type="radio" id="star4" name="feedback.Rating" value="4" /><label class="full" for="star4" title="Pretty good - 4 stars"></label>
                    <input type="radio" id="star3" name="feedback.Rating" value="3" /><label class="full" for="star3" title="Meh - 3 stars"></label>
                    <input type="radio" id="star2" name="feedback.Rating" value="2" /><label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                    <input type="radio" id="star1" name="feedback.Rating" value="1" /><label class="full" for="star1" title="Sucks big time - 1 star"></label>
                </div>
            </div>
        </div>

        @Html.HiddenFor(model => model.session.Id)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit Feedback" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<p>
    @Html.ActionLink("Back to History", "ShowHistory", "GymMembers")
</p>


@section scripts
{
    <script src="~/Scripts/toastr.js"></script>
    <script>

        $(document).ready(function() {
            var rating = @ViewBag.SessionRating;
            feedbackObj = {};
            feedbackObj.userId = @ViewBag.UserId;
            feedbackObj.sessionId = @Model.session.Id;
            feedbackObj.sessionFeedback = $('#feedback_Desc')[0].value;
            feedbackObj.rating = rating;


            $("input[name='feedback.Rating']").change(function () {
                feedbackObj.rating = $("input[name='feedback.Rating']:checked").val();
            });


            $('#feedback_Desc').focusout(function() {
                feedbackObj.sessionFeedback = $('#feedback_Desc')[0].value;

            });


            console.log(feedbackObj);


            console.log(rating);
            var element = ""
            switch (rating) {
            case 1:
                element = 'star1'
                break;
            case 2:
                element = 'star2'
                break;
            case 3:
                element = 'star3'
                break;
            case 4:
                element = 'star4'
                break;
            case 5:
                element = 'star5'
                break;
            }
            console.log(element);

            if (rating !== 0) {
                radioBtn = document.getElementById(element);
                radioBtn.checked = true;
            }


            $('#feedbackForm').submit(function(e) {
                e.preventDefault();
                console.log(feedbackObj);
                $.ajax({
                    url: "/api/sessions/SubmitFeedback",
                    method: "post",
                    data: feedbackObj,
                    success: function () {
                        console.log(feedbackObj);
                        toastr.success("Thankyou.. your feedback is duely noted");
                        }
                    })

                    .fail(function () {
                        toastr.error("Something unexpected happened");
                    });
            });

        });
    </script>
}
