@model IEnumerable<FitnessGuru_Main.Models.Session>

@{
    ViewBag.Title = "Previous Sessions";
}

<h2>Sessions completed</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SessionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SessionAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Desc)
        </th>
        <th>
            Trainer
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SessionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SessionAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GymMember.FirstName)
        </td>
        <td>
            @Html.ActionLink("Provide Feedback", "Feedback", "Sessions", new { id=item.Id }, new { @class = "btn btn-primary btn-sm"})
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Back to Home", "Index")
</p>
