@model FitnessGuru_Main.Models.SessionCreateViewModel
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Create";
}

<div id="trainerId" style="display: none">@ViewBag.UserId</div>
<h2>Create</h2>

<div class="row">
    <div class="col-xs-6">
        <div>
            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "newSession", data_user_id = User.Identity.GetUserId() }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Session</h4>
                    <hr />
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.SessionName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @*<div class="row">
                                    @Html.EditorFor(model => model.SessionName, new { htmlAttributes = new { @class = "form-control" } })
                                </div>*@
                            @*<div class="row">
                                    @Html.ValidationMessageFor(model => model.SessionName, "", new { @class = "text-danger" })
                                </div>*@
                            @Html.EditorFor(model => model.SessionName, new { htmlAttributes = new { @class = "form-control", id = "sessionName", data_rule_invalidSessionName = "true" } })
                            @*@Html.ValidationMessageFor(model => model.SessionName, "", new { @class = "text-danger" })*@
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.SessionAt, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @*<div class="input-group datetime">*@
                            <div class="datetime">
                                @*<div class="row">

                                    </div>*@
                                @Html.EditorFor(model => model.SessionAt, new { htmlAttributes = new { @class = "form-control", id = "sessionAt", data_rule_emptySessionAt = "true", data_rule_conflictingSession = "true", data_rule_createSessionInFutureDate = "true" } })
                                @*<span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>*@
                                @*<div class="row">

                                    </div>*@
                                @*@Html.ValidationMessageFor(model => model.SessionAt, "", new { @class = "text-danger" })*@
                            </div>
                        </div>
                    </div>

                    @*<div class="form-group">
                            @Html.LabelFor(model => model.isCancelled, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.isCancelled)
                                    @Html.ValidationMessageFor(model => model.isCancelled, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>*@

                    <div class="form-group">
                        @Html.LabelFor(model => model.Desc, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Desc, new { htmlAttributes = new { @class = "form-control", id = "sessionDesc", data_rule_validDescription = "true" } })
                            @Html.ValidationMessageFor(model => model.Desc, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    @*<div class="form-group">
                            @Html.LabelFor(model => model.TrainerId, "TrainerId", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("TrainerId", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.TrainerId, "", new { @class = "text-danger" })
                            </div>
                        </div>*@

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input data-user-id="@User.Identity.GetUserId()" id="createSession" type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-xs-6">

        <div id="calendar">

        </div>

    </div>
</div>

<div>
    @Html.ActionLink("Go Back", "Index", "Trainers")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/fullcalendar")
    <script src="~/Scripts/sessioncreate.js"></script>
}
