@model FitnessGuru_Main.Models.Session

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Session</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SessionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SessionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SessionAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SessionAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isCancelled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isCancelled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GymMember.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GymMember.FirstName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Go Back", "ListSessionsCreated", "GymMembers")
        </div>
    }
</div>
