@model FitnessGuru_Main.Models.SessionFeedbackViewModel
@using FitnessGuru_Main.Models


@{
    ViewBag.Title = "Feedback";
}

<h2>Feedback Form</h2>

<div>
    <h4>Session Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.session.SessionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.session.SessionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.session.SessionAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.session.SessionAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.session.Desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.session.Desc)
        </dd>

        <dt>
            Trainer
        </dt>
        @{
            var name = Model.session.GymMember.FirstName + " " + Model.session.GymMember.LastName;
        }
        <dd>
            @name
        </dd>

    </dl>
</div>


@using (Html.BeginForm("Feedback", "Sessions", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @if (Model.feedback!=null)
        {
            <h4>Changed your mind?? Don't hesistate, tell us again</h4>
        }
        else
        {
            <h4>@ViewBag.FeedbackStatus</h4>
        }
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.feedback.Desc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.feedback.Desc, new { @class = "form-control", rows = "6", cols = "20" })
                @*@Html.ValidationMessageFor(model => model.feedback.Desc, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.feedback.Rating, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.feedback.Rating, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.feedback.Rating, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.session.Id)


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit Feedback" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<p>
    @Html.ActionLink("Back to History", "ShowHistory", "GymMembers")
</p>
