@model IEnumerable<FitnessGuru_Main.Models.GymMember>

@{
    ViewBag.Title = "ListMembers";
}

<h2>ListMembers</h2>
<div style="margin-top: 65px">
<table id="MemeberListTable" class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @*@Html.ActionLink("Details", "Details", new { id=item.Id })*@
                    @Html.ActionLink("Details", "Details", "GymMembers", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" })
                </td>
            </tr>
        }
    </tbody>
</table>
</div>

<div style="margin-top: 50px">
    @Html.ActionLink("Back to Home", "Index", "Trainers")
</div>


@section scripts{
    <script>
        $(document).ready(function () {
            $('#MemeberListTable').DataTable();
        });
    </script>
}